{
  "arrowParens": "avoid",
  "jsxSingleQuote": true,
  "printWidth": 300,
  "singleQuote": true,
  "semi": false,
  "tabWidth": 4,
  "trailingComma": "none",
  "useEditorConfig": false,

  "overrides": [
    {
      "files": ["*.yaml, *.yml", "*.json", ".prettierrc", ".eslintrc"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
